body {
	margin-top: 0 auto;
	background-image: url('../images/clouds.jpg');
}


.top-section {
	height: 10rem;
	background-image: url('../images/clouds.jpg');
	background-repeat: no-repeat;
	background-size: 85rem 20rem;
}


.top-section .content h1 {
	margin-top: 0rem;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 80px;
	color: #FFFF00;
	text-align: center;
}



.second-section {
	height: 30rem;
	text-align: center;

}

.second-section h4 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}





.third-section {
	height: 10rem;

}

.bag {
	text-align: center;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-top: 20px;
	font-size: 20px;
}

input {
	margin-top: 10px;
	height: 30px;
	width: 420px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}

div#error {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	color: #d80000;
	font-weight: 400;
}

.bag button {
	height: 40px;
	width: 40px;
	background: #ADFF2F;
	font-size: 18px;
	border: 2px solid;
	border-radius: 8px;
	padding: 0 0 0px 0;
	cursor: pointer;
}



.insert ul {
	list-style-type: none;
	position: absolute;
	padding: 0;
	left: 35%;
	top: 150%;
}


.bag h2 {
	text-align: center;
	margin: 0 auto;
}

.todo button {
	height: 30px;
	width: 50px;
	background: #d80000;
	font-size: 10px;
	border-radius: 8px;
	padding: 0 0 0px 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #ffffff;
	cursor: pointer;
	margin-right: 20px;
}

.insert ul {
	font-family: "Comic Sans MS", cursive, sans-serif;
}


.third-section .brown {
	margin-top: 0rem;
}

.new {
	height: 45rem;
	text-align: center;
	padding: 1rem 8rem;
}



.checkout .maggie h3 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}



.maggie {
	margin: 0 auto;
	text-align: center;
}